Flags: draft

%h1 Contact

%form{ action: '/contact/submit', method: 'POST'}
  %p
    %label Your name
    %input{ type: 'text', name: 'name' }
  %p
    %label Your email
    %input{ type: 'text', name: 'email' }
  %p
    %label Inquiry type
    %select{ name: 'inquiry_type' }
      %option{ value: '' } --
      %option{ value: 'new-site' } New site
      %option{ value: 'general' } General
  %p
    %label Inquiry
    %textarea{ name: 'inquiry' }
  %p
    %input{ type: 'submit', name: 'submit', value: 'Submit' }