%h1 Home

%p.intro
  Green Worm is a Web Development and Design business based in 
  %a{ :href => "http://short.to/11gz", :title => "Geelong, Australia" } Geelong, Australia.
  Our business was born out of the countless horror stories from clients who were left with a product that was simply not what they wanted.  We pride ourselves on our attention to detail and delivering what you want, when you need it.  We take the time to listen to your requirements and develop a plan where you have full involvement from start to finish.  Here are some of the services we offer:

%ul
  %li Complete web site design, development and deployment
  %li Integrating new content with your existing site
  %li Web site conversion – convert your static site into a dynamic one that you can edit yourself!
  %li Existing site development and maintenance
  %li Photoshop (PSD) to HTML conversion
  %li Web site / domain hosting
  %li Consulting services

%p We specialise in developing web sites using proven and standardised technologies such as:

%ul.technologies
  %li Ruby (Ruby on Rails, Nesta, Sinatra, Rack)
  %li Python (Django)
  %li PHP (CodeIgniter)
  %li HTML, Haml
  %li Sass, CSS
  %li CoffeeScript, JavaScript (jQuery, jQuery UI)
%p
  To get in touch, head on over to the
  %a{ :href => "/contact", :title => "Contact" } contact
  page where you can find our contact details, or simply fill in the enquiry form.