body
  font:
    family: 'Helvetica Neue', Helvetica, Verdana
    size: 0.9em
  line-height: 22px
  margin: 0 auto
  width: 960px

header,
nav,
footer
  text-align: center

nav
  ul
    padding: 0
  li
    display: inline
    list-style: none
    padding: 0 6px
    &.current
      font-weight: bold

div#content
  margin: 40px auto
  width: 600px

footer
  color: #aaa
  font-size: 0.8em
  margin-top: 40px
  a
    color: #aaa
  p
    line-height: 15px

article
  h1
    display: none
  &#home
    text-align: justify

form p
  height: 30px
  clear: both
  label
    display: block
    float: left
    width: 90px
  input, select
    float: left

h1
  font-size: 3em
  
h2
  font-size: 1.5em

div.small-br
  height: 8px
  
hr
  border: 0
  width: 600px
  height: 4px
  padding: 0
  margin-top: 0
  margin-bottom: 0
  &.one
    border-top: 1px solid #999
    background-color: #bbb
  &.two
    background-color: #ddd
    
.center
  text-align: center